@import "app/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');
@font-face {
font-family: axis;
	src: url("../fonts/axis.otf");
}

$info-color:#898989;
$nav-color: #555;
$dark-bg:#363636;
$info-link-color:#8dc63f;
$exe-font:axis;
$red-bg:#e5493a;
$grey:#959595;
$white:#fff;
$littleDarkerThenWhite:#fafafa;
$darkerThenWhite:#f2f2f2;
$muchMoreDarkerThenWhite: #ccc;
$unitrans: ease 0.3s;
$secondaryBrandColor: #464646;
$footer-bg: #252525;
$secondary-footer-font-color:#636363;
$formBg:#171717;
$footer-navbar-bg: #111111;
$for-sec-active:#f4897e;
$for-some-button:#8dc63f;
$svg-link-color2:#e1e1e1;
$color-of-text-card:#6dcff6;
$some-border-color-for-blogDetails:#ebebeb;
$sidebar-header-color:#f5f5f5;

@mixin navbar-text(){
font-family: Raleway;
font-size: 14px;
line-height: 20px;
}

@mixin control-bg{
height: 42px;
width: 42px;
}

@mixin control-icon{
height: 16px;
width: 9px;
}

@mixin title-font{
font-family: Raleway;
font-size: 30px;
font-weight: 700;
}


@mixin small-text{
font-family: Roboto;
font-size: 14px;
line-height: 20px;
font-weight: 400;
}

@mixin forButton{
	border: none;
	outline: none;
	box-shadow: none;
}

a{text-decoration:none;
}
a:hover{text-decoration: none
}
.header-link-1{
	color: $info-color;
	fill: $nav-color;
	transition: $unitrans;
}

.header-link-2{
	color: $grey;
	fill: $svg-link-color2;
	transition: $unitrans;
}
.header-link-2:hover,.header-link-1:hover{
	color: $info-link-color;
	fill: $info-link-color;
}
.header-info{

	font-family: roboto;
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;

	background: $dark-bg;
	padding-top: 3px;
	padding-bottom: 3px;
ul{
	list-style: none;
	margin-right: -500px;
}

}
.nav-bg{
	background:$white;
}
.li-line{
	box-sizing: margin-box;
	height: 3px;
	width: 0%;
	transition: $unitrans;
	background:$red-bg;
}
.navbar{
	padding: 40px 0 40px 0;
	.navbar-toggler{
		border: none;
		outline: none;
	}
			ul{
				svg{
					fill: iherit;
				}
				.nav-item{
                  position: relative;
					ul{
						list-style: none;
                        position: absolute;
                      width: 100%;
                      background: $white;
                      padding: 0;
					}
					.nav-link{
						@include navbar-text;
						font-weight: 800;
						color: $nav-color;
						transition: $unitrans;
						fill: $grey;
					}
					.nav-link:hover{color:$red-bg ;
						fill: $red-bg;
					}
					.nav-link:focus{color:$red-bg ;
						fill: $red-bg;
					}
					}
				li.nav-item:hover{
					.li-line{
						width: 100%;
					}
				}



	}
}
.active-nav{
	.li-line{
		width: 15%;
	}
}
.active-link{
	color: $red-bg!important;
	fill: $red-bg!important;
}
.my-navbar-brand{
	font-family: Axis;
	font-size: 56px;
	line-height: 20px;
	font-weight: 400;
	color: $dark-bg;
}
.my-navbar-brand:hover,.my-navbar-brand:active{
	color: $dark-bg;
}


.progress-container{
  width:100%;
  background:transparent;
  position:relative;
  top:-3px;
  left:0;
  height:3px;
  display:block;
}
.video-progress-container{
	margin-top: 4px;
	position: relative;
	width:100%;
	position:relative;
	top:-3px;
	left:0;
	height:9px;
	display:block;
	cursor: pointer;
	background: $secondaryBrandColor;
}
.progress-bar,.video-progress-bar{

  background:$red-bg;
  width:0%;
  display:block;
  height:inherit;
}
.video-progress-bar{
	position: absolute;
	z-index: 9;
}
.video-buffer-bar{
	position: absolute;
	background: $nav-color;
	width:0%;
	display:block;
	height:inherit;
}

.carousel-control-prev {
	justify-content: flex-start;

	.carousel-control-prev-icon {
		box-sizing: margin-box;
		border-radius: 4px;
		@include control-bg;
		padding-top: 7px;
		background-image: none;
	}
}
.carousel-control-next {
	justify-content: flex-end;

	.carousel-control-next-icon {
		box-sizing: margin-box;
		border-radius: 4px;
		@include control-bg;
		padding-top: 7px;
		background-image: none;
	}
}
	a.carousel-control-prev:hover{

			.carousel-control-prev-icon{
				background: $dark-bg;
			 }
		}
		
	a.carousel-control-next:hover{
			.carousel-control-next-icon{
				background: $dark-bg;
			}
		}

	#carousel{
		.carousel-caption{
			bottom: 17%;
			left: 0%;
			right: 1.2%;
		}
		.string1{
			top: -100px;
			font-family:Raleway;
			font-size: 68px;
			line-height: 80px;
			font-weight: 800;
			color: $white;}
		.string2{
			font-family:Raleway;
			font-size: 51px;
			line-height: 80px;
			font-weight: 800;
			color: $white;
			}
		.string3{
			font-family:Raleway;
			font-size: 27px;
			line-height: 30px;
			font-weight: 400;
			color: $white;
			}
		button{
			width: 170px;
			height: 54px;
			font-family: Raleway;
			font-size: 14px;
			font-weight: 800;
			text-transform: uppercase;
			color:$white;
			border-color: $white;
			margin-bottom: 2px;
		}
		button:hover{
			color:$white;
			background:$dark-bg;
			border-color:$dark-bg; 

		}
		button:focus{
			box-shadow: none;
		}
	
	}


.under-car{
	padding-top: 40px;
	height: 158px;
	background:$dark-bg;



		.under-car-1{
			font-family: Raleway;
			font-size: 32px;
			line-height: 30px;
			font-weight: 700;
			color: $grey;
		}
		.under-car-2{
			font-family: Raleway;
			font-size: 24px;
			line-height: 20px;
			font-weight: 400;
			color: #707070;
		}
}
.with-triangle {
	background: $littleDarkerThenWhite;
	.triangle {
		box-sizing: border-box;
		width: 85px;
		height: 85px;
		background: $littleDarkerThenWhite;
		transform: rotate(45deg);
		z-index: 9;
		display: inline-flex;
	}
}
.line {
	display: inline-flex;
	justify-content: center;
	box-sizing: padding-box;
	width: 170px;
	height: 2px;
	background: $dark-bg;
	margin-bottom: 40px;
	margin-top: 30px;
}
.portfolio {

	.text-center{
		.btn-group{
			background: $littleDarkerThenWhite;
			margin-bottom: 40px;
			.btn{
				background: none;
				border: none;
				color: $dark-bg;
			}
			.btn:focus{
				box-shadow: none;
				color: $red-bg;
				.li-line{
					width: 100%;
					z-index: 999;
				}
			}
		}
	}
}
.portfolio:hover{
	.line{
		background: $red-bg;
	}
}

.underheader-card{
	background: $littleDarkerThenWhite;
	fill: $dark-bg;

	
	.card{
		color: $dark-bg;
		border:none;
		margin-top: 45px;
	}
	.card:hover{
		color: $red-bg;
		fill: $red-bg;
	}
	.card-img-top{
		position: absolute;
		top:-35px;
		width: 70px;
		height: 70px;
		fill: inherit;
		transition: $unitrans;
	}
	.card-img-top2{
		position: absolute;
		top:-16px;
		height: 32px;
		z-index: 9;
	}
	.card-body{

		padding-top: 65px;
	}
	.card-text{
		@include small-text;
		color: $grey;
	}
}
.card-title{
	font-family: Raleway;
	font-size: 24px;
	line-height: 20px;
	font-weight: 700;
	color: inherit;
}
.dark-title{
	@include title-font;
	line-height: 20px;
	color:$dark-bg;
	padding-top:80px;
}
.undertitle{
	@include small-text;
	color:$grey;
	
}
.portfolio-title{
	width: 50vw;
}

.portfolio-desk {

	width: 99.9%;
	.upper-text{
		display: none;
	}


	[class*="col"]:hover{
		.bg-box{
			display: block;
		}
		img{
			filter:brightness(0.5);
		}
		.upper-text{
			display: block;
		}
		.upper-line{
			display: block;
		}
	}
	img {
		position: relative;
		width: 19.8vw;
		transition: $unitrans;
	}

	.upper-text{
		position: absolute;
		z-index: 4;
	}
	.upper-line{
		position: absolute;
		z-index: 4;
		width: 25%;
		height: 2px;
		top: 90px;
		left: 40px;
		border: solid 0.1px;
		border-color: $red-bg;
		background: $red-bg;
		display: none;
	}
	@media (max-width: 500px) {
		.lupa{
			left: 55%;
		}
	}


		svg {
			display: block;
		}
	.upper-text:first-child {
		top:30px;
		left:40px;
		font-family: Raleway;
		font-size: 1.25vw;
		line-height: 1.04vw;
		font-weight: 700;
		color: $white;
	}

	.upper-text {

		top:55px;
		left:40px;
		font-family: Raleway;
		font-size: 0.73vw;
		line-height: 1.04vw;
		color: #959595;
		font-weight: 400;
		color: $grey;
	}
	@media (max-width: 767px) {
		img {
			width: 50vw;
		}
		.upper-text:first-child{
			font-size: 3.25vw;
			line-height: 3.04vw;
		}
		.upper-text{
			font-size: 2.73vw;
			line-height: 3.04vw;
		}
	}
	}
.lupa{
	left: 65%;
	top: 65%;
	background: url("../images/lupaLink/icon_2672.svg") no-repeat center;
}
.link{
	left: 80%;
	top: 65%;
	background: url("../images/lupaLink/icon_2676.svg") no-repeat center;
}
.bg-box{
	display: none;
	position: absolute;
	box-sizing: padding-box;
	padding: 9px;
	background-color: $footer-bg;
	height: 35px;
	width: 35px;
	z-index: 9;
	border-radius: 20px;
	transition: $unitrans;
}
.bg-box:hover{
	background-color: $red-bg;
}
.loadmore{
	margin-top: 41px;
	margin-bottom: 80px;
	button {
		width: 170px;
		height: 41px;
		background: $dark-bg;
		font-family: Raleway;
		font-size: 12px;
		font-weight: 800;
		text-transform: uppercase;
		color: $white;
	}
	button:hover{
	color:$white;
}
	button:focus{
		box-shadow: none;

	}
}
.stuff-about{
	padding-top: 80px;
	background: url("../images/bg/stuffBg.jpg") no-repeat;
	background-size: cover;
	p:first-child {
			color: $white;
			@include title-font;

		}
		p:nth-child(2) {
			@include small-text;
			color: $grey;
		}


		.circle-numb{
			position: absolute;
			top: 55px;
			left: 41%;
			font-family: Raleway;
			font-size: 36px;
			line-height: 20px;
			font-weight: 700;
			color: $white;
		}
	.circle-title{
		font-family: Raleway;
		font-size: 24px;
		line-height: 20px;
		font-weight: 700;
		color: $red-bg;
		margin: 35px 0 25px 0;
	}
	.circle-caption{
		@include small-text;
		color: $grey;
	}
	.undercircle-line{
		box-sizing: border-box;
		width: 70px;
		height: 2px;
		background: $dark-bg;
		display: inline-flex;
	}
	.row{
		padding-bottom: 95px;
	}
	.col-12{
		margin-top: 70px;
	}
	.col-12:hover{
		.undercircle-line{
			background: $red-bg;
		}
	}
}
.stuff-about:hover{
	.line{
		background: $red-bg;
	}
}
.why-us{
	background: $littleDarkerThenWhite;
	padding-bottom: 80px;
}
.why-us:hover{
.line{
	background: $red-bg;
}
}

.collapse-card{
	.row{
		height: 43px;
		margin-bottom: 5px;
		button:hover{
			background: $red-bg;
		}
	}
	.clickbg-1 {
		.col-11 {
			background: $dark-bg;
			p{
				color: $white;
			}
		}
		button{
			background: $red-bg!important;
			svg{
				transform: rotate(90deg);
			}
		}
	}
	.col-11{
		height: 43px;
		background: $darkerThenWhite;
		transition: $unitrans;
		border-radius: 3px 0 0 3px;
		p{
			margin-top: 10px;
			font-family: Raleway;
			font-size: 18px;
			line-height: 20px;
			font-weight: 700;
			color: dark-bg;
			span{
				margin-left: 20px;
				@include small-text;
				color: $muchMoreDarkerThenWhite;
			}
		}

	}
	.col-1{
		padding: 0 0 0 0;
		box-sizing: content-box;
		height: 43px;

		button{
			background: $dark-bg;
			transition: $unitrans;
			width: 43px;
			height: 43px;
			border-radius: 0 3px 3px 0;
		}
		button:hover{
			box-shadow: none;
		}
		button:focus{
			box-shadow: none;
		}

	}
	[id*="collapse-row"]{
		@include small-text;
		color: $grey;
	}
}


#owl1,#owl2,#portfolioOwl{
	.owl-dot{
		width: 10px;
		height: 10px;
		border-radius: 10px;
		margin: 0 4px 0 4px;
		background-color: $darkerThenWhite;
	}
	.owl-dot:focus{
		outline: none;
	}
	.owl-dots{
		.active{
			background: $red-bg;
		}
	}
		.media:nth-child(2){
			margin-top: 35px;
		}

.media {
	padding: 30px 30px 15px 30px;
	background: $darkerThenWhite;
	img{
		width: 92px;
		height: 92px;
	}
	.media-body {
		table {
			font-family: Raleway;
			font-size: 18px;
			line-height: 20px;
			font-weight: 600;
			color: $dark-bg;
			margin-bottom: 15px;
			a{
				@include small-text;
				color:$muchMoreDarkerThenWhite;
			}
		}
	}
}
}
.last-post:hover{
	.line{
		background: $red-bg;
	}
}
#owl2{
	margin-bottom: 80px;
	.card{
		border: none;
		background: $littleDarkerThenWhite;
		p:first-child{
			margin-top: 10px;
			@include small-text;
			color: $muchMoreDarkerThenWhite;
		}
		p:nth-child(2){
			font-family: Raleway;
			font-size: 18px;
			line-height: 20px;
			font-weight: 600;
			color: $dark-bg;
		}
		p:nth-child(3){
			@include small-text;
			color: $grey;
		}
		a{
			@include small-text;
			color: $dark-bg;
		}

		img{
			height: 270px;
			width: 270px;
			border-radius: 0px;
			transition: $unitrans;
		}
		.square-box{
			position: absolute;
			z-index: 99;
			box-sizing: padding-box;
			width: 41px;
			height: 41px;
			padding: 10px 0 0 2px;
			background: $dark-bg;
			transition: $unitrans;
		}
		.owl-link{
			padding-top: 6px;
			left: 50%;
			top: 45%;
		}
		.owl-lupa{
			padding-top: 6px;
			left: 35%;
			top: 45%;
		}
		.col{
			.line{
				position: absolute;
				box-sizing: border-box;
				width: 70px;
				height: 2px;
				background: $dark-bg;
				top: 88%;
				left: 20px;
				transition: $unitrans;
			}
		}
.card-body{

}
	}
	.card:hover{
		p:nth-child(2){
			color: $red-bg;
		}
		a{
			color: $red-bg;
		}
		img{
			filter: brightness(0.5);
		}
		.bg-box,.square-box{
			display: block;
		}
		.square-box{
			background: $red-bg;
		}
		.col{
			.line{
				width: 230px;
				background: $red-bg;
			}
		}
	}
}
.many-theme{
	background: url("../images/bg/themeBg.jpg") no-repeat;
	background-size: cover;
	.themes {
		.bg-circle1 {
			padding: 28px 0 0 25px;
		}

		.bg-circle2 {
			padding: 30px 0 0 27px;
		}

		.bg-circle3 {
			padding: 29px 0 0 35px;
		}

		.bg-circle4 {
			padding: 32px 0 0 27px;
		}

		[class*="bg-circle"] {
			box-sizing: border-box;
			width: 100px;
			height: 100px;
			border-radius: 100px;
			background: $white;
			border: 2px solid $white;
			fill: $dark-bg;
			transition: $unitrans;

			svg {
				fill: inherit;
			}
		}

		.right-theme-caption {
			margin-top: 20px;

			p:first-child {
				font-family: Raleway;
				font-size: 20px;
				line-height: 20px;
				font-weight: 700;
				color: $dark-bg;
				margin: 15px 0 10px 0;
				transition: $unitrans;
			}

			p:nth-child(2) {
				@include small-text;
				color: $grey;
				transition: $unitrans;
			}
		}
		.right-theme-caption:last-child{
			margin-bottom: 80px;
		}

		.right-theme-caption:hover {
			[class*="bg-circle"] {
				background: transparent;
				border: 2px solid $red-bg;
				fill: $red-bg;
			}

			p:first-child {
				color: $red-bg;
			}

			p:nth-child(2) {
				color: $dark-bg;
			}
		}
	}
}

.many-theme:hover{
	.line{
		background: $red-bg;
	}
}
.clients{
	background: url("../images/bg/partnersBg.jpg");
#owl3{
	.item{
		height: 255px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.item-img-1{
		width: 135px;
		height: 85px;
	}
	.item-img-2{
		width: 200px;
		height: 77px;
	}
	.item-img-3{
		width: 88px;
		height: 88px;
	}
	.item-img-4{
		width: 142px;
		height: 42px;
	}
	.item-img-5{
		width: 79px;
		height: 86px;
	}
	.owl-prev, .owl-next{
		width: 30px;
		height: 30px;
		position: absolute;
		top: 40%;
		border-radius: 4px;
	}
	.owl-prev:hover, .owl-next:hover{
		background-color: $dark-bg;
	}
	.owl-prev:focus, .owl-next:focus{
		outline: none;
	}
	.owl-next{
		right: -40px;
		background: url("../images/carousel/arrow_1511.svg") no-repeat;
		background-position: center;
		i{
			height: 30px;
			width: 30px;
		}
	}
	.owl-prev{
		left: -40px;
		background: url("../images/carousel/arrow_1507.svg") no-repeat;
		background-position: center;
		i{
			height: 30px;
			width: 30px;
		}
	}
}
}
.form-title {
	font-family: Roboto;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: $white;
}
.footer-media {
	padding: 20px 0 20px 0;
	border-bottom: 1px solid $dark-bg;

	img {
		transition: $unitrans;
	}

	.footer-lupa {
		display: none;
		position: absolute;
		box-sizing: border-box;
		width: 30px;
		height: 30px;
		border-radius: 30px;
		background: $footer-bg;
		top: 27%;
		left: 55%;
		transition: $unitrans;

		div {
			width: 30px;
			height: 30px;
			background: url("../images/footer/icon_2487.svg") no-repeat;
			background-position: center;
		}
	}

	.footer-lupa:hover {
		background: $red-bg;
	}

	.contacts {
		color: $grey;
	}
}
.caption {
	@include small-text;
	color: $grey;
	margin: 0 0 0 0;
	transition: $unitrans;
}

.date {
	font-family: Roboto;
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
	color: $secondaryBrandColor;
	margin: 0 0 0 0px;
	transition: $unitrans;
}
.footer-media:hover {
	svg {
		fill: $red-bg;
	}

	.footer-lupa {
		display: block;
		z-index: 99;
	}

	img {
		filter: brightness(0.5);
	}

	.caption {
		color: $red-bg;
	}

	.date {
		color: $white;
	}

	.contacts {
		color: $red-bg;
	}
}
footer {
	.footer-title {
		font-family: Raleway;
		font-size: 24px;
		line-height: 20px;
		font-weight: 700;
		color: $white;

	}

	.line {
		background: $red-bg;
		width: 70px;
		display: inline-flex;
	}

	.container-fluid {
		background: $footer-bg;
		position: relative;

		.footer-info-bar {
			padding-top: 80px;
			padding-bottom: 80px;
		}
	}

	.twitter-link {
		color: $white;
	}

	.first-footer-col {
		padding-right: 50px;

		p {
			font-family: Roboto;
			font-size: 14px;
			line-height: 20px;
			font-weight: 400;
			color: $secondary-footer-font-color;
			margin-top: 30px;
		}

		.footer-link {
			@include small-text;
			color: $secondaryBrandColor;
			transition: $unitrans;
		}

		.footer-link:hover, .footer-link:focus {
			color: $red-bg;
		}

		.my-navbar-brand, .my-navbar-brand:hover, .my-navbar-brand:active {
			color: $secondaryBrandColor;
		}

		.righter-logo {
			margin-top: 8px;
			font-family: Roboto;
			font-size: 10px;
			line-height: 10px;
			font-weight: 700;
			color: $dark-bg;
		}

		.footer-link {
			margin-bottom: 50px;
		}

		.form-title {
			margin: 0px 0 20px -15px;
		}


		.form {
			margin-bottom: 20px;

			form {
				background: $formBg;
				height: 42px;
			}

			input {
				background: $formBg;
				border: none;
				padding: 9px 0 0 20px;
				outline: none;
				color: $secondaryBrandColor;
				width: 160px;
			}

			button {
				background: $formBg;
				outline: none;
				border: none;
				fill: $dark-bg;
				transition: $unitrans;
				width: 42px;
			}

			button:hover {
				svg {
					fill: $red-bg
				}
			}
		}
	}



	svg {
		fill: $secondaryBrandColor;
		transition: $unitrans;
	}


	.second-footer-col{
		.footer-media:last-child{
			border-bottom: transparent;
			margin-bottom: 20px;
		}
	}



	.follow {
		padding-top: 20px;
		svg:hover {
			fill: $red-bg;
		}
	}

	.follow:hover {
		.date {
			color: $white;
		}
	}

	 .third-footer-col{
		.date {
			font-size: 14px;
		}
	}

	.anchor {
		box-sizing: border-box;
		width: 49px;
		height: 49px;
		border-radius: 5px;
		background: black;
		position: absolute;
		left: 105%;
		bottom: 50%;
		transform: rotate(90deg);

		.anchor-inner {
			width: 49px;
			height: 49px;
			background: url("../images/carousel/arrow_1507.svg") no-repeat;
			background-position: center;
		}
	}
}
.footer-nav{
	background: $footer-navbar-bg;
	padding: 30px 0px 30px 30px;

	.left-of-footer-nav{
		p {
			@include small-text;
			color: $secondaryBrandColor;

			span {
				color: $grey;
			}
		}
	}
	.links{
		a {
			@include navbar-text;
			font-weight: 700;
			color: $nav-color;
			margin-right: 20px;
		}
	}
}
.secondary-title{
	font-family: Raleway;
	font-size: 24px;
	line-height: 24px;
	font-weight: 700;
	color: $dark-bg;
}
.text-like-in-nav{
@include navbar-text;
	text-transform: uppercase;
	color: $white;
	font-weight: 800;
}

//styles for other pages
.you-here{
	color: $for-sec-active!important;
}
	//portfolio
.other-portfolio{
	background: $littleDarkerThenWhite;
	margin-bottom: -20px;
	.portfolio{
		button{
			margin-bottom: 80px;
		}
	}
	.portfolio-desk{
		img{
			width: 25vw;
		}
	}
}
[id*="owl4"]{
	margin-bottom: 0px;

	.owl-prev:focus, .owl-next:focus {
		outline: none;
	}

	.owl-next {
		right: 20px;
		background: url("../images/carousel/arrow_1511.svg") no-repeat;
		background-position: center;

		i {
			height: 42px;
			width: 42px;
		}
	}

	.owl-prev {
		right: 45px;
		background: url("../images/carousel/arrow_1507.svg") no-repeat;
		background-position: center;

		i {
			height: 42px;
			width: 42px;
		}
	}

	.owl-prev, .owl-next {
		width: 22px;
		height: 22px;
		position: absolute;
		top: 80%;
		border-radius: 3px;
		background-color: $dark-bg;
		opacity: 0.3;
		transition: $unitrans;
	}
	.owl-prev:hover, .owl-next:hover {
		background-color: $red-bg;
		opacity: 1!important;
		opacity: 0.5;
	}
}
.buy{
	width: 170px;
	height: 54px;
	background-color: $for-some-button;
	border: none;
	border-radius: 5px;
	outline: none;
	margin-bottom: 50px;
}
.portfolio-details-projects {
	padding: 40px 90px 0 100px;

	#portfolioDetails {
		width: 57vw;
		margin-bottom: 80px;

		.owl-prev:hover, .owl-next:hover {
			background-color: $red-bg;
		}

		.owl-prev:focus, .owl-next:focus {
			outline: none;
		}

		.owl-next {
			right: 20px;
			background: url("../images/carousel/arrow_1511.svg") no-repeat;
			background-position: center;

			i {
				height: 42px;
				width: 42px;
			}
		}

		.owl-prev {
			left: 20px;
			background: url("../images/carousel/arrow_1507.svg") no-repeat;
			background-position: center;

			i {
				height: 42px;
				width: 42px;
			}
		}

		.owl-prev, .owl-next {
			width: 42px;
			height: 42px;
			position: absolute;
			top: 40%;
			border-radius: 3px;
			background-color: $dark-bg;
		}

		.item {
			width: 57vw;
		}


	.owl-dots {
		.owl-dot {
			width: 9.5vw;
			height: 5.24vw;
			margin: 0;
			transition: $unitrans;
		}

		.owl-dot:first-child {
			background: url("../images/dots/bg_photo_2523.png");
			background-size: cover;
			background-position: center;
		}

		.owl-dot:nth-child(2) {
			background: url("../images/dots/bg_photo_2719.png");
			background-size: cover;
			background-position: center;
		}

		.owl-dot:nth-child(3) {
			background: url("../images/dots/bg_photo_2532.png");
			background-size: cover;
			background-position: center;
		}

		.owl-dot:nth-child(4) {
			background: url("../images/dots/bg_photo_2720.png");
			background-size: cover;
			background-position: center;
		}

		.owl-dot:nth-child(5) {
			background: url("../images/dots/bg_photo_2538.png");
			background-size: cover;
			background-position: center;
		}

		.owl-dot:nth-child(6) {
			background: url("../images/dots/bg_photo_2721.png");
			background-size: cover;
			background-position: center;
		}

		.owl-dot:focus {
			outline: none;
		}

		.active {
			transform: scale(1.1);
		}
	}
}
	.secondary-title{
		margin-bottom: 20px;
	}
	.undertitle{
		margin-bottom: 20px;
	}

	.buy:focus{
		transform: scale(1.05);
	}
	.left{
		color: $dark-bg;
		padding-left: 30px;
		p{
			position: relative;
			margin-bottom: 10px;
		}
	}

	.right{
		color: $muchMoreDarkerThenWhite;
		transition: $unitrans;
	}
	a.right:hover{
		color: $red-bg;
	}
}
.prev-next{
	padding: 0px 50px 60px 20px;
	.caption{
		color: $muchMoreDarkerThenWhite;
	}
	svg{
		fill: $svg-link-color2;
		transition: $unitrans;
	}
}
.prev-next-project{
	font-family: Raleway;
	font-size: 18px;
	line-height: 30px;
	font-weight: 600;
	color: $dark-bg;
	margin-bottom: 0;
	transition: $unitrans;
}
.arrow:hover{
	svg{
		fill: $red-bg;
	}
	.prev-next-project{
		color: $red-bg;
	}
}
.over-footer{
	background: $red-bg;
	padding: 40px 0 40px 50px;
	.card-title{
		font-weight: 400;
		color: $white;
		line-height: 24px;
	}
	button{
		width: 170px;
		height: 54px;
		background: $dark-bg;
		border-radius: 5px;
		border: none;
		outline: none;
		margin-top: 10px;
	}
}
.card-without-carousel{
	z-index: 99;
}
.poster{
	position: absolute;
	z-index: 9;
}
.video{
	position: absolute;
	opacity: 0;
}
.card-with-blockquote{
	background: url("../images/card/bg_photo_3678.png") no-repeat;
	background-size: cover;
	background-position: center;
	padding: 40px;
}
.card-blockquote{
	font-family: Raleway;
	font-size: 22px;
	line-height: 24px;
	font-weight: 600;
	color: $white;
	margin-top: 40px;
}
.muted-card-text {
	font-family: Roboto;
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	color: $muchMoreDarkerThenWhite;
	margin-top: 10px;
}
.read-more {
	@include small-text;
	color: $dark-bg;
	transition: $unitrans;
}
.blog{
	#owl1{
		background: $littleDarkerThenWhite;
	}
	.over-footer{
		background: $info-link-color;
	}
	.other-portfolio{
		background: $white;
		padding-top: 50px;
	}
	.card-columns{
		.card{
			position: relative;
			margin: 0 20px 30px 0px;
			border: none;
			border-radius: 0;
			.lupa{
				top: 17%;
				left: 33%;
			}
			.link{
				top: 17%;
				left: 53%;
			}
			video{
				margin-bottom: -10px;
			}
			.card-img-top{
				transition: $unitrans;
				position: relative;
				border-radius: 0;
			}
			.card-body {
				background: $littleDarkerThenWhite;
				.card-title {
					font-family: Raleway;
					font-size: 20px;
					line-height: 20px;
					font-weight: 600;
					color: $dark-bg;
					transition: $unitrans;
				}
				.line {
					width: 30%;
					margin: 0px;
					margin-bottom: -7px;
					transition: $unitrans;
					color: $red-bg;				}
			}
			.card-text {
				@include small-text;
				color: $grey;
			}
			.blockquote-author{
				margin-bottom: 40px;
			}
			&:hover{
				.shade-on-hover{
					filter: brightness(0.5);
				}
				.card-title{
					color: $red-bg;
				}
				.read-more{
					color: $red-bg;
				}
				.line{
					width: 100%;
				}
				.bg-box{
					display: block;
				}
			}
		}
		.text-card{
			.card-body{
				background: $color-of-text-card;
				padding: 50px 25px 50px 25px;
			}
			.text{
				font-family: Raleway;
				font-size: 20px;
				line-height: 24px;
				font-weight: 500;
				color: #ffffff;
				span{
					font-weight: 800;
				}
			}
			a b{
				@include small-text;
				color: #c7efff;
			}
		}
	}
}
.header-bg {
	background: url("../images/bg/bg_photo_549.jpg") no-repeat;
	background-position: center;
	background-size: cover;
	.container{
		height: 100vh;
	}
.line{
	background: $red-bg;
}
}

.comment-form{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	input,textarea{
		border: none;
		border-radius: 2px;
		background: $white;
		padding: 0 20px 0 20px;
	}
	input{
		height: 47px;
		width: 440px;
		margin-bottom: 10px;
	}
	textarea{
		resize: none;
		height: 118px;
		width: 100%;
		padding-top: 10px;
		margin-bottom: 30px;
	}
	#name+label{
		position: absolute;
		left: 410px;
		top: 10px;
		img{
			width: 15px;
		}
	}
	#email+label{
		position: absolute;
		left: 410px;
		top: 68px;
		img{
			width: 17px;
		}
	}
	#textOfComment+label{
		position: absolute;
		left: 96%;
		top: 120px;
		img{
			width: 17px;
		}
	}
}
.blockquote{
	padding: 60px 100px 60px 100px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 600;
	color: $dark-bg;

}
.blog-details{
  .navbar{
    .nav-item{
      ul{
        background: transparent;
      }
    }
  }
	.main-section{
		padding-top: 90px;
		input::placeholder,textarea::placeholder{
			@include small-text;
			color: $muchMoreDarkerThenWhite;
		}
		input,textarea{
			@include small-text;
			color: $secondaryBrandColor;
		}
		.content{
			background: $littleDarkerThenWhite;
			padding: 30px 30px 10px 30px;
			margin-bottom: 60px;
			img{
				width: 100%;
			}
			.dark-title{
				padding-top: 30px;
			}
			.muted-text{
				@include small-text;
				color: $muchMoreDarkerThenWhite;
				span{
					color: $some-border-color-for-blogDetails;
				}
				.highlighted{
					color: $red-bg;
				}
			}
			.undertitle{
				span{
					color: $red-bg;
				}
			}

			.tags,.share{
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				flex-wrap: wrap;
				p{
					font-family: Raleway;
					font-size: 14px;
					line-height: 40px;
					font-weight: 800;
					color: $dark-bg;
					margin-right: 35px;
					margin-bottom: 0px;
				}
				button{
					margin-right: 10px;
					height: 31px;
					padding: 3px 30px 0 30px;
					border: 1px solid $some-border-color-for-blogDetails;
					border-radius: 31px;
					@include forButton;
					transition: $unitrans;
					&.active,&:hover{
						background: $red-bg;
						color: $white;
					}

				}
			}
			.tags{
				margin: 60px 0 20px 0;
			}
			.share{
				p{
					margin-right: 30px;
				}
				a{
					fill: $svg-link-color2;
					transition: $unitrans;
					&:hover{
						fill: $red-bg;
					}
				}
			}
			.comments{
				.dark-title{
					font-weight: 600;
					margin: 80px 0 35px 0;
				}
				.comment{
					margin-bottom: 30px;
					transition: $unitrans;
					&:hover{
						margin-left: 40px;
						.comment-header,.comment-body{
							border-left: 2px solid $red-bg;
						}
					}
				}
				.comment-header,.comment-body{
					background: $sidebar-header-color;
					padding: 20px 30px 10px 30px;
					transition: $unitrans;
					border-left: 2px solid $sidebar-header-color;
				}
				.comment-body{
					background: #fdfdfd;
					border-left: 2px solid  #fdfdfd;
				}
				img{
					width: 58px;
					margin-bottom: 10px;
				}
				.form-title{
					color: $dark-bg;
					margin-bottom: 0px;
				}
				button.muted-card-text{
					color: $white;
					text-transform: uppercase;
					font-weight: 800;
					@include forButton;
					width: 70px;
					height: 26px;
					border-radius: 3px;
					background: $dark-bg;
					transition: $unitrans;
					&:hover{
						background: $red-bg;
					}
				}
			}
		}
		.sidebar{
			form{
				position: relative;
				input{
					height: 48px;
					width: 270px;
					border-radius: 48px;
					outline: none;
					border: 1.0px solid $some-border-color-for-blogDetails;
					padding: 0 33px 0 30px;
				}


				button{
					top: 1px;
					left: 222px;
					position: absolute;
					width: 46px;
					height: 46px;
					background: url("../images/blogDetails/icon_3424.svg") no-repeat;
					background-position: center;
					background-color: $white;
					border: none;
					border-radius: 46px;
					outline: none;
					box-shadow: none;
				}
			}
			.sidebar-title{
				background: $sidebar-header-color;
				width: 270px;
				font-family: Roboto;
				font-size: 18px;
				line-height: 20px;
				font-weight: 500;
				color: $dark-bg;
				padding: 20px 30px 20px 30px;
				margin-top: 40px;
			}
			.categories{
				.sidebar-item{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
				}
			}
			.sidebar-section{
				width: 270px;
				background: $littleDarkerThenWhite;
				padding: 30px 30px 30px 30px;
				a:first-child{
					.sidebar-item{
						padding-top:0px;
					}
				}
				a:last-child{
					.sidebar-item{
						padding-bottom: 0px;
						border: transparent;
					}
				}
				.sidebar-item{
					padding: 20px 0 20px 0;
					border-bottom: 0.5px solid $darkerThenWhite;
					.undertitle{
						color: $secondary-footer-font-color;
						transition: $unitrans;
						line-height: 20px;
					}
					&:hover{
						.undertitle{
							color: $red-bg;
						}
						.sidebar-count{
							background: $red-bg;
							color: $white;
						}
					}
				}
				.sidebar-count{
					box-sizing: padding-box;
					background: $sidebar-header-color;
					border-radius: 2px;
					padding: 0 5px 0 5px;
					text-align: center;
					height: 21px;
					min-width: 21px;
					font-family: Roboto;
					font-size: 11px;
					line-height: 25px;
					font-weight: 400;
					color: #d7d7d7;
					transition: $unitrans;
				}
				.active-link + .sidebar-count{
					background: $red-bg;
					color: $white;
				}
			}
          .image-widget{
			  &.show, &.collapsing {
				  display: flex;
			  }
			  padding: 30px;
			  padding-bottom: 20px;
			  img{
				  margin-bottom: 10px;
				  transition: $unitrans;
				  &:hover{
					  transform: scale(1.2);
				  }
			  }
          }
			.collapse-card{
				.ring{
					box-sizing: border-box;
					width: 19px;
					height: 19px;
					border-radius: 19px;
					background: transparent;
					border: 2px solid #d7d7d7;
					margin-right: 10px;
					position: relative;
					transition: $unitrans;
					div{
						position: absolute;
						box-sizing: border-box;
						width: 11px;
						height: 2px;
						background:  #d7d7d7;
						transition: $unitrans;
					}
                  div:last-child{
                    transform: rotate(90deg);
                  }
				}
				button{
					border-bottom: 1px solid $darkerThenWhite;
					background: $littleDarkerThenWhite;
					color: $secondary-footer-font-color;
					width: 210px;
					padding: 0;
				}
				.container:last-child{
					button{
						border-bottom: transparent;
					}
				}
				.clickbg-1{
					button {
                      background: transparent !important;
                      color: $red-bg;
						.ring{
							border-color: $red-bg;
							div{
								background: $red-bg;
							}
							div:last-child{
								transform: rotate(180deg);
							}
						}
					}
				}
			}
			.line{
				width: 135px;
			}
			.text-widget{
				.caption{
					margin-bottom: 30px;
					color: $secondary-footer-font-color;
				}
			}
			.read-more{
				color: $red-bg;
			}
		}

	}
	.carousel-head{
		.item-1,.item-2{
			font-family: Roboto;
			font-size: 14px;
			line-height: 20px;
			font-weight: 400;
			text-transform: uppercase;
			color: #c2c2c2;
			transition: $unitrans;
			&.active{
				color: $red-bg;
				font-weight: 900;
				.indicator {
					div {
						width: 100%;
					}
				}
			}
			.indicator {
				box-sizing: border-box;
				height: 2px;
				background: $some-border-color-for-blogDetails;
				width: 105px;
				margin-top: 10px;
				div{
					box-sizing: border-box;
					height: 2px;
					background: $red-bg;
					width: 0%;
					transition: $unitrans;
				}

			}
		}
	}
}
#sidebar-owl{
	width: 210px;
	.owl-dots{
		position: absolute;
		top: -35px;
		.owl-dot{
			width: 105px;
			height: 30px;
			margin: 0;
			border-radius: 0;
			opacity: 0;
		}
	}
	.footer-media:last-child{
		border-bottom: none;
	}
	.footer-media{
		width: 210px;
		border-bottom: 1px solid $darkerThenWhite;
		.media-image{
			position: relative;
		}
		img{
			height: 63px;
			width: 63px;
		}
		.caption{
			margin: 0px;
			margin-left: 20px;
		}
		.footer-lupa{
			left: 30%;
		}
		.date{
			color: $muchMoreDarkerThenWhite;
		}
		&:hover{
			.date{
				color: $muchMoreDarkerThenWhite;
			}
		}
	}
}
.blog-details-title{
	font-family: Raleway;
	font-size: 70px;
	line-height: 80px;
	font-weight: 200;
	color: $white;
}
.blog-details-subtitle{
	font-family: Raleway;
	font-size: 50px;
	line-height: 80px;
	font-weight: 700;
	color: $white;
}

.controls{
	display: flex;
	flex-direction: row;
	align-items: center;
	background: $dark-bg;
	height: 38px;
	padding: 10px;
}
.controls .paused{
	background: url("../images/player/pause_3599.svg") no-repeat;
	background-color: $dark-bg;
	background-position: center;
}
.play{
	box-sizing: content-box;
	width: 40px;
	height: 38px;
	background: url("../images/player/play-button-svgrepo-com.svg") no-repeat;
	background-color: $dark-bg;
	background-position: center;
	cursor: pointer;
}
.sound{
	box-sizing: content-box;
	width: 40px;
	margin-bottom: 4px;
	fill: $red-bg;
	background-color: $dark-bg;
	background-position: center;
	cursor: pointer;
	transition: $unitrans;
}
.duration,.current-time{
	box-sizing: border-box;
	min-width: 30px;
	font-family: Roboto;
	font-size: 12px;
	line-height: 22px;
	font-weight: 400;
	color: $white;
}
.controls .off{
	fill: $grey;
}

.large-title{
	font-family: Raleway;
	font-size: 32px;
	line-height: 30px;
	font-weight: 700;
	color: $white;
}
#categorySvg::before{
	position: absolute;
	left: -30px;
	top: 3px;
	content: url("../images/svgBefore/icon_2180.svg");
}
#clientSvg::before{
	position: absolute;
	left: -30px;
	top: 2px;
	content: url("../images/svgBefore/icon_2185.svg");
}
#linkSvg::before{
	position: absolute;
	left: -30px;
	top: 2px;
	content: url("../images/svgBefore/icon_2378.svg");
}
#dateSvg::before{
	position: absolute;
	left: -30px;
	top: 3px;
	content: url("../images/svgBefore/icon_2190.svg");
}
#shareSvg::before{
	position: absolute;
	left: -30px;
	top: 3px;
	content: url("../images/svgBefore/icon_2392.svg");
}
.pages-head{
margin-top: 155px;
	background: url("../images/bg/slimest.jpg");
	color: $white;

	.container{
		padding: 40px 0px 40px 70px;
	}
	.col:first-child{
		font-family: Roboto;
		font-size: 18px;
		line-height: 20px;
		font-weight: 500;
	}
	.col:nth-child(2),a,span{
		font-family: Roboto;
		font-size: 12px;
		line-height: 20px;
		font-weight: 400;
		color: $white;
		margin-right: 15px;
	}
}
.portfolio-details,.blog{
	.pages-head{
		background: $red-bg;
	}
	.header-info{
		background: $littleDarkerThenWhite;
	}
}
.portfolio-details{

	.portfolio-desk{
		.upper-text:nth-child(2){
			font-size: 1vw;
			margin-top: 0.5vw;
		}
		.upper-text:first-child{
			font-size: 1.5vw;

		}
	}
}
.linksSvg1{
	fill: $nav-color;
	transition: $unitrans;
}
.linksSvg2{
	fill: $svg-link-color2;
	transition: $unitrans;
}
.linksSvg1:hover,.linksSvg2:hover{
	fill: $red-bg;
}

//all media-styles
@media (max-height: 470px) {
	#carousel{
		.string3{
			display: none;
		}
	}
}
@media (min-width: 767px){
	.footer-info-bar{
		padding: 80px 80px 0 80px;
	}
	.footer-nav {
		padding: 30px 0px 15px 100px;
	}
	.prev-next {
		padding: 0px 50px 40px 40px;
	}
}
@media (max-width: 767px) {
		header {
				nav {
					padding: 9px 0 6px 0!important;
                  .nav-item{
                    ul{
                        position: relative!important;
                    }
                  }
				}
		}
		.pages-head{
			margin-top: 50px;
		}
				#carousel {
					height: 100vh;
					width: 100%;
					overflow: hidden;

					.carousel-caption {
						top: 25vh;

						.string1 {
							font-size: 8vw;
							margin-bottom: 0px;
						}

						.string2 {
							font-size: 7vw;
							line-height: 6vh;
						}

						.string3 {
							font-size: 5vw;
						}
					}

				}

		.carouselimg {
					display: block;
					position: relative;
					height: 1024px;
					width: 1920px !important;
					left: -960px;
					top: -200px;
					margin: 0 0 0 50%;
				}
				.dark-title{
				line-height: 30px;
				}
						.under-car {
			padding-top: 10px;
			.under-car-1 {
				font-size: 7vw;
			}
			.under-car-2 {
				font-size: 5vw;
			}
		}
		.underheader-card{
			.card{
				margin-top: 50px;
			}
		}
#accordion1{
	span{
		display: none;
	}
}
	#owl2{
			.card{
				img{
					width: 100vw;
					height: 100vw;
				}
				.col{
					.line{
						top: 83%;
					}
				}
				p:first-child{
					margin: -12px 0 2px 0;
				}
				p:nth-child(2){
					margin-bottom: 5px;
				}
				p:nth-child(3){
					margin-bottom: 3px;
				}


			}
		.card:hover{
			.col {
				.line {
					width: 88vw;
				}
			}
		}

		}
		body {
			footer {
				.footer-info-bar {
					padding: 80px 40px 0 20px;
					.anchor {
						left: 100%;
						height: 30px;
						width: 30px;
						.anchor-inner{
							width: 30px;
							height: 30px;
						}
					}
				}
			}
		}
		#portfolioDetails{
			.active{
				transform: scale(1.2);
			}
		}
		.portfolio-details{
			.portfolio-desk{
				.col-12{
					img{
						width: 100vw;
					}
				}
			}
			.other-portfolio{
				.portfolio{
					.portfolio-desk{
						.upper-text:first-child{
							font-size: 6vw;
						}
						.upper-text:nth-child(2){
							font-size: 4vw;
						}
					}
				}
			}
			.prev-next {
				.prev-next-project {
					font-size: 5vw;
					line-height: 6vw;
				}
			}
		}
	.comment-form{
		input{
			width: 100%;
		}
		input+label, textarea+label {
			left: 90%!important;
		}
	}
	#sidebar{
		a[type="button"]{
			background: transparent;
		}
		&.show {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			width: 100%;
			opacity: 1;
		}
		width: 0px;
		opacity: 0;
		position: fixed;
		overflow: scroll;
		top: 0px;
		padding-top: 60px;
		bottom: 0px;
		right: 0px;
		background: rgba(59, 59, 59, 0.5);
		z-index: 99;
		transition: $unitrans;
	}
	.sidebar-toggler{
		position: fixed;
		top: 15px;
		right: 10px;
		z-index: 99999;
		border: none;
		background: transparent;
		div{
			box-sizing: border-box;
			height: 4px;
			width: 25px;
			border-radius: 3px;
			background: $svg-link-color2;
			transition: $unitrans;
		}
		div:first-child{
			margin-bottom: 11px;
			transform: rotate(-45deg);
		}
		div:last-child{
			transform: rotate(45deg);
		}
		&:focus {
			outline: none;
			box-shadow: none;
		}
		&:hover{
			div{
				background: $red-bg;
			}
		}
		&.open{
			div:first-child{
				transform: rotate(45deg);
			}
			div:last-child{
				transform: rotate(-45deg);
			}
		}
	}
	.search{
		margin-right: 4px;
		margin-bottom: 15px;
	}
	.sidebar-title{
		margin-top: 15px!important;
		padding: 10px!important;
		border-radius: 30px;
	}
	.sidebar-section{
		margin-top: 5px;
		border-radius: 30px;
		padding: 0!important;
	}
	.padding-container{
			margin: 30px 30px 30px 30px;
		}

	.image-widget{
		padding: 0!important;
	}
	#tab-widget{
		.padding-container{
			padding-top: 12px;
		}
		.indicator{
			margin-top: 5px;
		}
		.owl-carousel{
			.item{
				padding: 0;
			}
		}
	}
	.blockquote{
		padding: 60px 35px 60px 10px;
	}
	.tags{
		p{
			width: 100%;
		}
	}
	}
@media (orientation:landscape) and (max-width: 767px){
	#carousel {
		height: 100vh;
		width: 100%;
		overflow: hidden;

		.carousel-caption {
			top: 15px;

			.string1 {
				font-size: 8vh;
				margin-bottom: -20px;
			}

			.string2 {
				font-size: 7vh;
				line-height: 5vh;
			}

			.string3 {
				font-size: 5vh;
			}
		}
	}
	.under-car {
		height: 55vh;
		padding-top: 10px;
		.under-car-1 {
			font-size: 9vh;
		}
		.under-car-2 {
			font-size: 7vh;
		}
	}

}
@media (max-width: 991px){
	.blog-details{
		.nav-bg{
			position: fixed;
			z-index: 999;
		}
}
	li.nav-item:hover {
		.li-line {
			margin-left: 0px;
		}
	}
	.li-line{
		margin-left: 50%;
	}
	.active-nav{
		.li-line{
			width: 0% !important;
		}
	}
	.portfolio-details {
		.portfolio-details-projects {
			max-width: 100vw;
			padding: 20px 20px 0 20px;
			#portfolioDetails {
				width: 110%;
				margin: 0 0 20px 0;

				.item {
					width: 100vw;
				}
				.owl-dot{
					width: 16.66%;
					height: 9.35vw!important;
				}
			}
		}
		.upper-text:first-child {
			top:30px;
			left:40px;
			font-family: Raleway;
			font-size: 24px;
			line-height: 20px;
			font-weight: 700;
			color: $white;
		}

		.upper-text {

			top:55px;
			left:40px;
			font-family: Roboto;
			font-size: 14px;
			line-height: 20px;
			font-weight: 400;
			color: $grey;

		}
		.lupa{
			left: 65%;
			top: 65%;
		}
		.link{
			left: 80%;
			top: 65%;
		}
	}
}
@media (min-width: 992px){
	.blog-details{
		.nav-bg{
			background: transparent;
			position: absolute;
			.my-navbar-brand{
				color: $white;
			}
			.nav-item{
				.nav-link{
					color: $white;
					fill: $white;
				}
			}
		}

	}
}
#screens{
	width: 105%;
}


