@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');
@font-face {
font-family: axis;
	src: url("../fonts/axis.otf");
}

$info-color:#898989;
$dark-bg:#363636;
$info-link-color:#8dc63f;
$exe-font:axis;
$red-bg:#e5493a;
$gray:#959595;
$white:#fff;
$littleDarkerThenWhite:#fafafa;
$darkerThenWhite:#f2f2f2;
$muchMoreDarkerThenWhite: #ccc;
$unitrans: ease 0.3s;


@mixin navbar-text(){
font-family: Raleway;
font-size: 14px;
line-height: 20px;
}

@mixin control-bg{
height: 42px;
width: 42px;
}

@mixin control-icon{
height: 16px;
width: 9px;
}

@mixin title-font{
font-family: Raleway;
font-size: 30px;
font-weight: 700;
}


@mixin small-text{
font-family: Roboto;
font-size: 14px;
line-height: 20px;
font-weight: 400;
}


svg{
	transition: $unitrans;
}
a{text-decoration:none;
}
a:hover{text-decoration: none
}

.header-info{

	fill: $info-color;
	font-family: roboto;
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
	color: $info-color;
	background: $dark-bg;
	padding-top: 3px;
	padding-bottom: 3px;
	
	a{
		color:$info-color;
	}
	a:hover{
		color:$info-link-color;
		fill: $info-link-color;
	}
	svg{
		margin-bottom: 4px;
		fill: inherit;
	}

	.social-networks a:hover{
		fill: $red-bg;
	}
	span{
		color:$info-color;}
}
.nav-bg{
	background:$white;
}
.li-line{
	box-sizing: margin-box;
	height: 3px;
	width: 0%;
	transition: $unitrans;
	background:$red-bg;
}
.navbar{
	padding: 40px 0 40px 0;
.navbar-brand{
	font-family: Axis;
	font-size: 56px;
	line-height: 20px;
	font-weight: 400;
	color: $dark-bg;
}
	.navbar-toggler{
		border: none;
		outline: none;
	}
			ul{
				svg{
					fill: iherit;
				}
				li.nav-item{
					fill: $gray;
					a.nav-link{@include navbar-text;
						font-weight: 800;
						color: #555555;

					}
					a.nav-link:hover{color:$red-bg ;
						fill: $red-bg;
					}
					a.nav-link:focus{color:$red-bg ;
						fill: $red-bg;
					}
					}
				li.nav-item:hover{
					.li-line{
						width: 100%;
					}
				}



	}
}



.progress-container{
  width:100%;
  background:transparent;
  position:relative;
  top:-3px;
  left:0;
  height:3px;
  display:block;
}
 
.progress-bar{
  
  background:$red-bg;
  width:0%;
  display:block;
  height:inherit;
}

.carousel-control-prev {
	justify-content: flex-start;

	.carousel-control-prev-icon {
		box-sizing: margin-box;
		border-radius: 4px;
		@include control-bg;
		padding-top: 7px;
		background-image: none;
	}
}
.carousel-control-next {
	justify-content: flex-end;

	.carousel-control-next-icon {
		box-sizing: margin-box;
		border-radius: 4px;
		@include control-bg;
		padding-top: 7px;
		background-image: none;
	}
}
	a.carousel-control-prev:hover{

			.carousel-control-prev-icon{
				background: $dark-bg;
			 }
		}
		
	a.carousel-control-next:hover{
			.carousel-control-next-icon{
				background: $dark-bg;
			}
		}

	#carousel{
		background:$red-bg;
		.string1{
			font-family:Raleway;
			font-size: 68px;
			line-height: 80px;
			font-weight: 800;
			color: $white;}
		.string2{
			font-family:Raleway;
			font-size: 51px;
			line-height: 80px;
			font-weight: 800;
			color: $white;
			}
		.string3{
			font-family:Raleway;
			font-size: 27px;
			line-height: 30px;
			font-weight: 400;
			color: $white;
			}
		.btn-outline-dark{
			color:$white;
			border-color: $white;
		}
		.btn-outline-dark:hover{
			color:$white;
			background:$dark-bg;
			border-color:$dark-bg; 

		}
		.btn-outline-dark:focus{
			box-shadow: none;
		}
	
	}


.under-car{
	padding-top: 40px;
	height: 158px;
	background:$dark-bg;



		.under-car-1{
			font-family: Raleway;
			font-size: 32px;
			line-height: 30px;
			font-weight: 700;
			color: $gray;
		}
		.under-car-2{
			font-family: Raleway;
			font-size: 24px;
			line-height: 20px;
			font-weight: 400;
			color: #707070;
		}
}
.line {
	display: inline-flex;
	justify-content: center;
	box-sizing: padding-box;
	width: 170px;
	height: 2px;
	background: $dark-bg;
	margin-bottom: 40px;
	margin-top: 30px;
}
.portfolio {

	.text-center{
		.btn-group{
			background: $littleDarkerThenWhite;
			margin-bottom: 40px;
			.btn{
				background: none;
				border: none;
				color: $dark-bg;
			}
			.btn:focus{
				box-shadow: none;
				color: $red-bg;
				.li-line{
					width: 100%;
					z-index: 999;
				}
			}
		}
	}
}
.portfolio:hover{
	.line{
		background: $red-bg;
	}
}

.underheader-card{
	background:#fafafa; 
	fill: $dark-bg;

	
	.card{
		color: $dark-bg;
		border:none;
		margin-top: 115px;
	}
	.card:hover{
		color: $red-bg;
		fill: $red-bg;
	}
	.card-img-top{
		position: absolute;
		top:-35px;
		width: 70px;
		height: 70px;
		fill: inherit;
	}
	.card-img-top2{
		position: absolute;
		top:-16px;
		height: 32px;
		z-index: 9;
	}
	.card-body{

		padding-top: 65px;
	}
	.card-title{
		font-family: Raleway;
		font-size: 24px;
		line-height: 20px;
		font-weight: 700;
		color: inherit;
	}
	.card-text{
		@include small-text;
		color: $gray;
	}
}
.dark-title{
	@include title-font;
	line-height: 20px;
	color:$dark-bg;
	padding-top:80px;
}
.undertitle{
	@include small-text;
	color:$gray;
	
}
.portfolio-title{
	width: 50vw;
}
.portfolio-desk {

	width: 99.9%;
	.upper-text{
		display: none;
	}

	.bg-box{
		display: none;
		position: absolute;
		box-sizing: padding-box;
		padding: 9px;
		background:#252525;
		height: 35px;
		width: 35px;
		z-index: 9;
		border-radius: 20px;
		transition: $unitrans;
	}
	.bg-box:hover{
		background: $red-bg;
	}
	.col:hover{
		.bg-box{
			display: block;
		}
		img{
			filter:brightness(0.5);
		}
	}
	img {
		position: relative;
		width: 19.8vw;
		transition: $unitrans;
	}

	.upper-text{
		position: absolute;
		z-index: 4;
	}
	.upper-line{
		position: absolute;
		z-index: 4;
		width: 25%;
		height: 2px;
		top: 90px;
		left: 40px;
		border: solid 0.1px;
		border-color: $red-bg;
		background: $red-bg;
		display: none;
	}
	@media (max-width: 500px) {
		.lupa{
			left: 55%;
		}
	}

	.col:hover {
		.upper-text{
			display: block;
		}
		.upper-line{
			display: block;
		}
		}
		svg {
			display: block;
		}
	.upper-text:first-child {
		top:30px;
		left:40px;
		font-family: Raleway;
		font-size: 1.25vw;
		line-height: 1.04vw;
		font-weight: 700;
		color: $white;
	}

	.upper-text {

		top:55px;
		left:40px;
		font-family: Raleway;
		font-size: 0.73vw;
		line-height: 1.04vw;
		color: #959595;
		font-weight: 400;
		color: $gray;
		font-weight: 400;
	}
	@media (max-width: 767px) {
		img {
			width: 50vw;
		}
		.upper-text:first-child{
			font-size: 3.25vw;
			line-height: 3.04vw;
		}
		.upper-text{
			font-size: 2.73vw;
			line-height: 3.04vw;
		}
	}
	}
.lupa{
	left: 65%;
	top: 65%;
}
.link{
	left: 80%;
	top: 65%;
}
.loadmore{
	margin-top: 41px;
	button {
		width: 170px;
		height: 41px;
		background: $dark-bg;
		font-family: Raleway;
		font-size: 12px;
		font-weight: 800;
		text-transform: uppercase;
		color: $white;
	}
	button:hover{
	color:$white;
}
	button:focus{
		box-shadow: none;

	}
}
.stuff-about{
	margin-top: 80px;
	padding-top: 80px;
	background: url("../images/carousel/polygon_2474.png") no-repeat;
	background-size: cover;
	p:first-child {
			color: $white;
			@include title-font;

		}
		p:nth-child(2) {
			@include small-text;
			color: $gray;
		}


		.circle-numb{
			position: absolute;
			top: 55px;
			left: 41%;
			font-family: Raleway;
			font-size: 36px;
			line-height: 20px;
			font-weight: 700;
			color: $white;
		}
	.circle-title{
		font-family: Raleway;
		font-size: 24px;
		line-height: 20px;
		font-weight: 700;
		color: #e5493a;
		margin: 35px 0 25px 0;
	}
	.circle-caption{
		@include small-text;
		color: $gray;
	}
	.undercircle-line{
		box-sizing: border-box;
		width: 70px;
		height: 2px;
		background: $dark-bg;
		display: inline-flex;
	}
	.row{
		padding-bottom: 95px;
	}
	.col-12{
		margin-top: 70px;
	}
	.col-12:hover{
		.undercircle-line{
			background: $red-bg;
		}
	}
}
.stuff-about:hover{
	.line{
		background: $red-bg;
	}
}
.why-us{
	background: $littleDarkerThenWhite;
}
.why-us:hover{
.line{
	background: $red-bg;
}
}

.collapse-card{
	.row{
		height: 43px;
		margin-bottom: 5px;
		button:hover{
			background: $red-bg;
		}
	}
	.clickbg-1 {
		.col-11 {
			background: $dark-bg;
			p{
				color: $white;
			}
		}
		button{
			background: $red-bg!important;
			svg{
				transform: rotate(90deg);
			}
		}
	}
	.col-11{
		height: 43px;
		background: $darkerThenWhite;
		transition: $unitrans;
		border-radius: 3px 0 0 3px;
		p{
			margin-top: 10px;
			font-family: Raleway;
			font-size: 18px;
			line-height: 20px;
			font-weight: 700;
			color: dark-bg;
			span{
				margin-left: 20px;
				@include small-text;
				color: $muchMoreDarkerThenWhite;
			}
		}

	}
	.col-1{
		padding: 0 0 0 0;
		box-sizing: content-box;
		height: 43px;

		button{
			background: $dark-bg;
			transition: $unitrans;
			width: 43px;
			height: 43px;
			border-radius: 0 3px 3px 0;
		}
		button:hover{
			box-shadow: none;
		}
		button:focus{
			box-shadow: none;
		}

	}
	[id*="collapse-row"]{
		@include small-text;
		color: $gray;
	}
}


#owl1,#owl2{
	.owl-dot{
		width: 10px;
		height: 10px;
		border-radius: 10px;
		margin: 0 4px 0 4px;
		background-color: $darkerThenWhite;
	}
	.owl-dot:focus{
		outline: none;
	}
	.owl-dots{
		.active{
			background: $red-bg;
		}
	}
		.media:nth-child(2){
			margin-top: 35px;
		}

.media {
	padding: 30px 30px 15px 30px;
	background: $darkerThenWhite;
	img{
		width: 92px;
		height: 92px;
	}
	.media-body {
		table {
			font-family: Raleway;
			font-size: 18px;
			line-height: 20px;
			font-weight: 600;
			color: $dark-bg;
			margin-bottom: 15px;
			a{
				@include small-text;
				color:$muchMoreDarkerThenWhite;
			}
		}
	}
}
}
#owl2{
	.card{
		border: none;
		height: 270px;
		background: $littleDarkerThenWhite;
		img{
			width: 270px;
			height: 270px;
			border-radius: 0px;
		}
	}
}
	@media (max-width: 767px) {
		header {
			.fixed-top {
				nav {
					padding: 20px 0 20px 0;
				}
			}
		}
				#carousel {
					height: 100vh;
					width: 100%;
					overflow: hidden;

					.carousel-caption {
						padding-bottom: 80vh;

						.string1 {
							font-size: 8vw;
						}

						.string2 {
							font-size: 7vw;
							line-height: 8vh;
						}

						.string3 {
							font-size: 5vw;
						}
					}
				}

				.carouselimg {
					display: block;
					position: relative;
					height: 1024px;
					width: 1920px !important;
					left: -960px;
					top: -200px;
					margin: 0 0 0 50%;
				}
				.dark-title{
				line-height: 30px;
				}
						.under-car {
			padding-top: 10px;
			.under-car-1 {
				font-size: 7vw;
			}
			.under-car-2 {
				font-size: 5vw;
			}
		}
#accordion1{
	span{
		display: none;
	}
}
	}
@media (max-width: 991px){
#carousel1{
	width: 100%;
}
}




