@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap");
@font-face {
  font-family: axis;
  src: url("../fonts/axis.otf"); }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.header-link-1 {
  color: #898989;
  fill: #555;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }

.header-link-2 {
  color: #959595;
  fill: #e1e1e1;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }

.header-link-2:hover, .header-link-1:hover {
  color: #8dc63f;
  fill: #8dc63f; }

.header-info {
  font-family: roboto;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  background: #363636;
  padding-top: 3px;
  padding-bottom: 3px; }
  .header-info ul {
    list-style: none;
    margin-right: -500px; }

.nav-bg {
  background: #fff; }

.li-line {
  -webkit-box-sizing: margin-box;
  box-sizing: margin-box;
  height: 3px;
  width: 0%;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
  background: #e5493a; }

.navbar {
  padding: 40px 0 40px 0; }
  .navbar .navbar-toggler {
    border: none;
    outline: none; }
  .navbar ul svg {
    fill: iherit; }
  .navbar ul .nav-item ul {
    list-style: none;
    margin-right: 50px; }
  .navbar ul .nav-item .nav-link {
    font-family: Raleway;
    font-size: 14px;
    line-height: 20px;
    font-weight: 800;
    color: #555;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s;
    fill: #959595; }
  .navbar ul .nav-item .nav-link:hover {
    color: #e5493a;
    fill: #e5493a; }
  .navbar ul .nav-item .nav-link:focus {
    color: #e5493a;
    fill: #e5493a; }
  .navbar ul li.nav-item:hover .li-line {
    width: 100%; }

.active-nav .li-line {
  width: 15%; }

.active-link {
  color: #e5493a !important;
  fill: #e5493a !important; }

.my-navbar-brand {
  font-family: Axis;
  font-size: 56px;
  line-height: 20px;
  font-weight: 400;
  color: #363636; }

.my-navbar-brand:hover, .my-navbar-brand:active {
  color: #363636; }

.progress-container {
  width: 100%;
  background: transparent;
  position: relative;
  top: -3px;
  left: 0;
  height: 3px;
  display: block; }

.progress-bar {
  background: #e5493a;
  width: 0%;
  display: block;
  height: inherit; }

.carousel-control-prev {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .carousel-control-prev .carousel-control-prev-icon {
    -webkit-box-sizing: margin-box;
    box-sizing: margin-box;
    border-radius: 4px;
    height: 42px;
    width: 42px;
    padding-top: 7px;
    background-image: none; }

.carousel-control-next {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .carousel-control-next .carousel-control-next-icon {
    -webkit-box-sizing: margin-box;
    box-sizing: margin-box;
    border-radius: 4px;
    height: 42px;
    width: 42px;
    padding-top: 7px;
    background-image: none; }

a.carousel-control-prev:hover .carousel-control-prev-icon {
  background: #363636; }

a.carousel-control-next:hover .carousel-control-next-icon {
  background: #363636; }

#carousel .carousel-caption {
  bottom: 17%;
  left: 0%;
  right: 1.2%; }

#carousel .string1 {
  top: -100px;
  font-family: Raleway;
  font-size: 68px;
  line-height: 80px;
  font-weight: 800;
  color: #fff; }

#carousel .string2 {
  font-family: Raleway;
  font-size: 51px;
  line-height: 80px;
  font-weight: 800;
  color: #fff; }

#carousel .string3 {
  font-family: Raleway;
  font-size: 27px;
  line-height: 30px;
  font-weight: 400;
  color: #fff; }

#carousel button {
  width: 170px;
  height: 54px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  border-color: #fff;
  margin-bottom: 2px; }

#carousel button:hover {
  color: #fff;
  background: #363636;
  border-color: #363636; }

#carousel button:focus {
  -webkit-box-shadow: none;
  box-shadow: none; }

.under-car {
  padding-top: 40px;
  height: 158px;
  background: #363636; }
  .under-car .under-car-1 {
    font-family: Raleway;
    font-size: 32px;
    line-height: 30px;
    font-weight: 700;
    color: #959595; }
  .under-car .under-car-2 {
    font-family: Raleway;
    font-size: 24px;
    line-height: 20px;
    font-weight: 400;
    color: #707070; }

.with-triangle {
  background: #fafafa; }
  .with-triangle .triangle {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 85px;
    height: 85px;
    background: #fafafa;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 9;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex; }

.line {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  width: 170px;
  height: 2px;
  background: #363636;
  margin-bottom: 40px;
  margin-top: 30px; }

.portfolio .text-center .btn-group {
  background: #fafafa;
  margin-bottom: 40px; }
  .portfolio .text-center .btn-group .btn {
    background: none;
    border: none;
    color: #363636; }
  .portfolio .text-center .btn-group .btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #e5493a; }
    .portfolio .text-center .btn-group .btn:focus .li-line {
      width: 100%;
      z-index: 999; }

.portfolio:hover .line {
  background: #e5493a; }

.underheader-card {
  background: #fafafa;
  fill: #363636; }
  .underheader-card .card {
    color: #363636;
    border: none;
    margin-top: 45px; }
  .underheader-card .card:hover {
    color: #e5493a;
    fill: #e5493a; }
  .underheader-card .card-img-top {
    position: absolute;
    top: -35px;
    width: 70px;
    height: 70px;
    fill: inherit;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s; }
  .underheader-card .card-img-top2 {
    position: absolute;
    top: -16px;
    height: 32px;
    z-index: 9; }
  .underheader-card .card-body {
    padding-top: 65px; }
  .underheader-card .card-text {
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #959595; }

.card-title {
  font-family: Raleway;
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
  color: inherit; }

.dark-title {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 700;
  line-height: 20px;
  color: #363636;
  padding-top: 80px; }

.undertitle {
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #959595; }

.portfolio-title {
  width: 50vw; }

.portfolio-desk {
  width: 99.9%; }
  .portfolio-desk .upper-text {
    display: none; }
  .portfolio-desk [class*="col"]:hover .bg-box {
    display: block; }
  .portfolio-desk [class*="col"]:hover img {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5); }
  .portfolio-desk [class*="col"]:hover .upper-text {
    display: block; }
  .portfolio-desk [class*="col"]:hover .upper-line {
    display: block; }
  .portfolio-desk img {
    position: relative;
    width: 19.8vw;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s; }
  .portfolio-desk .upper-text {
    position: absolute;
    z-index: 4; }
  .portfolio-desk .upper-line {
    position: absolute;
    z-index: 4;
    width: 25%;
    height: 2px;
    top: 90px;
    left: 40px;
    border: solid 0.1px;
    border-color: #e5493a;
    background: #e5493a;
    display: none; }
  @media (max-width: 500px) {
    .portfolio-desk .lupa {
      left: 55%; } }
  .portfolio-desk svg {
    display: block; }
  .portfolio-desk .upper-text:first-child {
    top: 30px;
    left: 40px;
    font-family: Raleway;
    font-size: 1.25vw;
    line-height: 1.04vw;
    font-weight: 700;
    color: #fff; }
  .portfolio-desk .upper-text {
    top: 55px;
    left: 40px;
    font-family: Raleway;
    font-size: 0.73vw;
    line-height: 1.04vw;
    color: #959595;
    font-weight: 400;
    color: #959595; }
  @media (max-width: 767px) {
    .portfolio-desk img {
      width: 50vw; }
    .portfolio-desk .upper-text:first-child {
      font-size: 3.25vw;
      line-height: 3.04vw; }
    .portfolio-desk .upper-text {
      font-size: 2.73vw;
      line-height: 3.04vw; } }

.lupa {
  left: 65%;
  top: 65%;
  background: url("../images/lupaLink/icon_2672.svg") no-repeat center; }

.link {
  left: 80%;
  top: 65%;
  background: url("../images/lupaLink/icon_2676.svg") no-repeat center; }

.bg-box {
  display: none;
  position: absolute;
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  padding: 9px;
  background-color: #252525;
  height: 35px;
  width: 35px;
  z-index: 9;
  border-radius: 20px;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }

.bg-box:hover {
  background-color: #e5493a; }

.loadmore {
  margin-top: 41px;
  margin-bottom: 80px; }
  .loadmore button {
    width: 170px;
    height: 41px;
    background: #363636;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff; }
  .loadmore button:hover {
    color: #fff; }
  .loadmore button:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }

.stuff-about {
  padding-top: 80px;
  background: url("../images/bg/stuffBg.jpg") no-repeat;
  background-size: cover; }
  .stuff-about p:first-child {
    color: #fff;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 700; }
  .stuff-about p:nth-child(2) {
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #959595; }
  .stuff-about .circle-numb {
    position: absolute;
    top: 55px;
    left: 41%;
    font-family: Raleway;
    font-size: 36px;
    line-height: 20px;
    font-weight: 700;
    color: #fff; }
  .stuff-about .circle-title {
    font-family: Raleway;
    font-size: 24px;
    line-height: 20px;
    font-weight: 700;
    color: #e5493a;
    margin: 35px 0 25px 0; }
  .stuff-about .circle-caption {
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #959595; }
  .stuff-about .undercircle-line {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 70px;
    height: 2px;
    background: #363636;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .stuff-about .row {
    padding-bottom: 95px; }
  .stuff-about .col-12 {
    margin-top: 70px; }
  .stuff-about .col-12:hover .undercircle-line {
    background: #e5493a; }

.stuff-about:hover .line {
  background: #e5493a; }

.why-us {
  background: #fafafa;
  padding-bottom: 80px; }

.why-us:hover .line {
  background: #e5493a; }

.collapse-card .row {
  height: 43px;
  margin-bottom: 5px; }
  .collapse-card .row button:hover {
    background: #e5493a; }

.collapse-card .clickbg-1 .col-11 {
  background: #363636; }
  .collapse-card .clickbg-1 .col-11 p {
    color: #fff; }

.collapse-card .clickbg-1 button {
  background: #e5493a !important; }
  .collapse-card .clickbg-1 button svg {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

.collapse-card .col-11 {
  height: 43px;
  background: #f2f2f2;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
  border-radius: 3px 0 0 3px; }
  .collapse-card .col-11 p {
    margin-top: 10px;
    font-family: Raleway;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: dark-bg; }
    .collapse-card .col-11 p span {
      margin-left: 20px;
      font-family: Roboto;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #ccc; }

.collapse-card .col-1 {
  padding: 0 0 0 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 43px; }
  .collapse-card .col-1 button {
    background: #363636;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s;
    width: 43px;
    height: 43px;
    border-radius: 0 3px 3px 0; }
  .collapse-card .col-1 button:hover {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .collapse-card .col-1 button:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }

.collapse-card [id*="collapse-row"] {
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #959595; }

#owl1 .owl-dot, #owl2 .owl-dot, #portfolioOwl .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 0 4px 0 4px;
  background-color: #f2f2f2; }

#owl1 .owl-dot:focus, #owl2 .owl-dot:focus, #portfolioOwl .owl-dot:focus {
  outline: none; }

#owl1 .owl-dots .active, #owl2 .owl-dots .active, #portfolioOwl .owl-dots .active {
  background: #e5493a; }

#owl1 .media:nth-child(2), #owl2 .media:nth-child(2), #portfolioOwl .media:nth-child(2) {
  margin-top: 35px; }

#owl1 .media, #owl2 .media, #portfolioOwl .media {
  padding: 30px 30px 15px 30px;
  background: #f2f2f2; }
  #owl1 .media img, #owl2 .media img, #portfolioOwl .media img {
    width: 92px;
    height: 92px; }
  #owl1 .media .media-body table, #owl2 .media .media-body table, #portfolioOwl .media .media-body table {
    font-family: Raleway;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: #363636;
    margin-bottom: 15px; }
    #owl1 .media .media-body table a, #owl2 .media .media-body table a, #portfolioOwl .media .media-body table a {
      font-family: Roboto;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #ccc; }

.last-post:hover .line {
  background: #e5493a; }

#owl2 {
  margin-bottom: 80px; }
  #owl2 .card {
    border: none;
    background: #fafafa; }
    #owl2 .card p:first-child {
      margin-top: 10px;
      font-family: Roboto;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #ccc; }
    #owl2 .card p:nth-child(2) {
      font-family: Raleway;
      font-size: 18px;
      line-height: 20px;
      font-weight: 600;
      color: #363636; }
    #owl2 .card p:nth-child(3) {
      font-family: Roboto;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #959595; }
    #owl2 .card a {
      font-family: Roboto;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #363636; }
    #owl2 .card img {
      height: 270px;
      width: 270px;
      border-radius: 0px;
      -webkit-transition: ease 0.3s;
      -o-transition: ease 0.3s;
      transition: ease 0.3s; }
    #owl2 .card .square-box {
      position: absolute;
      z-index: 99;
      -webkit-box-sizing: padding-box;
      box-sizing: padding-box;
      width: 41px;
      height: 41px;
      padding: 10px 0 0 2px;
      background: #363636;
      -webkit-transition: ease 0.3s;
      -o-transition: ease 0.3s;
      transition: ease 0.3s; }
    #owl2 .card .owl-link {
      padding-top: 6px;
      left: 50%;
      top: 45%; }
    #owl2 .card .owl-lupa {
      padding-top: 6px;
      left: 35%;
      top: 45%; }
    #owl2 .card .col .line {
      position: absolute;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 70px;
      height: 2px;
      background: #363636;
      top: 88%;
      left: 20px;
      -webkit-transition: ease 0.3s;
      -o-transition: ease 0.3s;
      transition: ease 0.3s; }
  #owl2 .card:hover p:nth-child(2) {
    color: #e5493a; }
  #owl2 .card:hover a {
    color: #e5493a; }
  #owl2 .card:hover img {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5); }
  #owl2 .card:hover .bg-box, #owl2 .card:hover .square-box {
    display: block; }
  #owl2 .card:hover .square-box {
    background: #e5493a; }
  #owl2 .card:hover .col .line {
    width: 230px;
    background: #e5493a; }

.many-theme {
  background: url("../images/bg/themeBg.jpg") no-repeat;
  background-size: cover; }
  .many-theme .themes .bg-circle1 {
    padding: 28px 0 0 25px; }
  .many-theme .themes .bg-circle2 {
    padding: 30px 0 0 27px; }
  .many-theme .themes .bg-circle3 {
    padding: 29px 0 0 35px; }
  .many-theme .themes .bg-circle4 {
    padding: 32px 0 0 27px; }
  .many-theme .themes [class*="bg-circle"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #fff;
    fill: #363636;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s; }
    .many-theme .themes [class*="bg-circle"] svg {
      fill: inherit; }
  .many-theme .themes .right-theme-caption {
    margin-top: 20px; }
    .many-theme .themes .right-theme-caption p:first-child {
      font-family: Raleway;
      font-size: 20px;
      line-height: 20px;
      font-weight: 700;
      color: #363636;
      margin: 15px 0 10px 0;
      -webkit-transition: ease 0.3s;
      -o-transition: ease 0.3s;
      transition: ease 0.3s; }
    .many-theme .themes .right-theme-caption p:nth-child(2) {
      font-family: Roboto;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #959595;
      -webkit-transition: ease 0.3s;
      -o-transition: ease 0.3s;
      transition: ease 0.3s; }
  .many-theme .themes .right-theme-caption:last-child {
    margin-bottom: 80px; }
  .many-theme .themes .right-theme-caption:hover [class*="bg-circle"] {
    background: transparent;
    border: 2px solid #e5493a;
    fill: #e5493a; }
  .many-theme .themes .right-theme-caption:hover p:first-child {
    color: #e5493a; }
  .many-theme .themes .right-theme-caption:hover p:nth-child(2) {
    color: #363636; }

.many-theme:hover .line {
  background: #e5493a; }

.clients {
  background: url("../images/bg/partnersBg.jpg"); }
  .clients #owl3 .item {
    height: 255px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .clients #owl3 .item-img-1 {
    width: 135px;
    height: 85px; }
  .clients #owl3 .item-img-2 {
    width: 200px;
    height: 77px; }
  .clients #owl3 .item-img-3 {
    width: 88px;
    height: 88px; }
  .clients #owl3 .item-img-4 {
    width: 142px;
    height: 42px; }
  .clients #owl3 .item-img-5 {
    width: 79px;
    height: 86px; }
  .clients #owl3 .owl-prev, .clients #owl3 .owl-next {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40%;
    border-radius: 4px; }
  .clients #owl3 .owl-prev:hover, .clients #owl3 .owl-next:hover {
    background-color: #363636; }
  .clients #owl3 .owl-prev:focus, .clients #owl3 .owl-next:focus {
    outline: none; }
  .clients #owl3 .owl-next {
    right: -40px;
    background: url("../images/carousel/arrow_1511.svg") no-repeat;
    background-position: center; }
    .clients #owl3 .owl-next i {
      height: 30px;
      width: 30px; }
  .clients #owl3 .owl-prev {
    left: -40px;
    background: url("../images/carousel/arrow_1507.svg") no-repeat;
    background-position: center; }
    .clients #owl3 .owl-prev i {
      height: 30px;
      width: 30px; }

footer .footer-title {
  font-family: Raleway;
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
  color: #fff; }

footer .line {
  background: #e5493a;
  width: 70px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

footer .container-fluid {
  background: #252525;
  position: relative; }
  footer .container-fluid .footer-info-bar {
    padding-top: 80px;
    padding-bottom: 80px; }

footer .twitter-link {
  color: #fff; }

footer .first-footer-col {
  padding-right: 50px; }
  footer .first-footer-col p {
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #636363;
    margin-top: 30px; }
  footer .first-footer-col .footer-link {
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #464646;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s; }
  footer .first-footer-col .footer-link:hover, footer .first-footer-col .footer-link:focus {
    color: #e5493a; }
  footer .first-footer-col .my-navbar-brand, footer .first-footer-col .my-navbar-brand:hover, footer .first-footer-col .my-navbar-brand:active {
    color: #464646; }
  footer .first-footer-col .righter-logo {
    margin-top: 8px;
    font-family: Roboto;
    font-size: 10px;
    line-height: 10px;
    font-weight: 700;
    color: #363636; }
  footer .first-footer-col .footer-link {
    margin-bottom: 50px; }
  footer .first-footer-col .form-title {
    margin: 0px 0 20px -15px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #fff; }
  footer .first-footer-col .form {
    margin-bottom: 20px; }
    footer .first-footer-col .form form {
      background: #171717;
      height: 42px; }
    footer .first-footer-col .form input {
      background: #171717;
      border: none;
      padding: 9px 0 0 20px;
      outline: none;
      color: #464646;
      width: 160px; }
    footer .first-footer-col .form button {
      background: #171717;
      outline: none;
      border: none;
      fill: #363636;
      -webkit-transition: ease 0.3s;
      -o-transition: ease 0.3s;
      transition: ease 0.3s;
      width: 42px; }
    footer .first-footer-col .form button:hover svg {
      fill: #e5493a; }

footer .caption {
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #959595;
  margin: 0 0 0 0px;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }

footer .date {
  font-family: Roboto;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #464646;
  margin: 0 0 0 0px;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }

footer svg {
  fill: #464646;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }

footer .footer-media {
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #363636; }
  footer .footer-media img {
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s; }
  footer .footer-media .footer-lupa {
    display: none;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: #252525;
    top: 28%;
    left: 50%;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s; }
    footer .footer-media .footer-lupa div {
      width: 30px;
      height: 30px;
      background: url("../images/footer/icon_2487.svg") no-repeat;
      background-position: center; }
  footer .footer-media .footer-lupa:hover {
    background: #e5493a; }
  footer .footer-media .contacts {
    color: #959595; }

footer .second-footer-col .footer-media:last-child {
  border-bottom: transparent;
  margin-bottom: 20px; }

footer .footer-media:hover svg {
  fill: #e5493a; }

footer .footer-media:hover .footer-lupa {
  display: block;
  z-index: 99; }

footer .footer-media:hover img {
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5); }

footer .footer-media:hover .caption {
  color: #e5493a; }

footer .footer-media:hover .date {
  color: #fff; }

footer .footer-media:hover .contacts {
  color: #e5493a; }

footer .follow {
  padding-top: 20px; }
  footer .follow svg:hover {
    fill: #e5493a; }

footer .follow:hover .date {
  color: #fff; }

footer .third-footer-col .date {
  font-size: 14px; }

footer .anchor {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 49px;
  height: 49px;
  border-radius: 5px;
  background: black;
  position: absolute;
  left: 105%;
  bottom: 50%;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }
  footer .anchor .anchor-inner {
    width: 49px;
    height: 49px;
    background: url("../images/carousel/arrow_1507.svg") no-repeat;
    background-position: center; }

.footer-nav {
  background: #111111;
  padding: 30px 0px 30px 30px; }
  .footer-nav .left-of-footer-nav p {
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #464646; }
    .footer-nav .left-of-footer-nav p span {
      color: #959595; }
  .footer-nav .links a {
    font-family: Raleway;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #555;
    margin-right: 20px; }

.secondary-title {
  font-family: Raleway;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #363636; }

.text-like-in-nav {
  font-family: Raleway;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800; }

.you-here {
  color: #f4897e !important; }

.other-portfolio {
  background: #fafafa;
  margin-bottom: -20px; }
  .other-portfolio .portfolio button {
    margin-bottom: 80px; }
  .other-portfolio .portfolio-desk img {
    width: 25vw; }

.portfolio-details-projects {
  padding: 40px 90px 0 100px; }
  .portfolio-details-projects #portfolioDetails {
    width: 57vw;
    margin-bottom: 80px; }
    .portfolio-details-projects #portfolioDetails .owl-prev:hover, .portfolio-details-projects #portfolioDetails .owl-next:hover {
      background-color: #e5493a; }
    .portfolio-details-projects #portfolioDetails .owl-prev:focus, .portfolio-details-projects #portfolioDetails .owl-next:focus {
      outline: none; }
    .portfolio-details-projects #portfolioDetails .owl-next {
      right: 20px;
      background: url("../images/carousel/arrow_1511.svg") no-repeat;
      background-position: center; }
      .portfolio-details-projects #portfolioDetails .owl-next i {
        height: 42px;
        width: 42px; }
    .portfolio-details-projects #portfolioDetails .owl-prev {
      left: 20px;
      background: url("../images/carousel/arrow_1507.svg") no-repeat;
      background-position: center; }
      .portfolio-details-projects #portfolioDetails .owl-prev i {
        height: 42px;
        width: 42px; }
    .portfolio-details-projects #portfolioDetails .owl-prev, .portfolio-details-projects #portfolioDetails .owl-next {
      width: 42px;
      height: 42px;
      position: absolute;
      top: 40%;
      border-radius: 3px;
      background-color: #363636; }
    .portfolio-details-projects #portfolioDetails .item {
      width: 57vw; }
  .portfolio-details-projects .owl-dots .owl-dot {
    width: 9.5vw;
    height: 5.24vw;
    margin: 0;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s; }
  .portfolio-details-projects .owl-dots .owl-dot:first-child {
    background: url("../images/dots/bg_photo_2523.png");
    background-size: cover;
    background-position: center; }
  .portfolio-details-projects .owl-dots .owl-dot:nth-child(2) {
    background: url("../images/dots/bg_photo_2719.png");
    background-size: cover;
    background-position: center; }
  .portfolio-details-projects .owl-dots .owl-dot:nth-child(3) {
    background: url("../images/dots/bg_photo_2532.png");
    background-size: cover;
    background-position: center; }
  .portfolio-details-projects .owl-dots .owl-dot:nth-child(4) {
    background: url("../images/dots/bg_photo_2720.png");
    background-size: cover;
    background-position: center; }
  .portfolio-details-projects .owl-dots .owl-dot:nth-child(5) {
    background: url("../images/dots/bg_photo_2538.png");
    background-size: cover;
    background-position: center; }
  .portfolio-details-projects .owl-dots .owl-dot:nth-child(6) {
    background: url("../images/dots/bg_photo_2721.png");
    background-size: cover;
    background-position: center; }
  .portfolio-details-projects .owl-dots .owl-dot:focus {
    outline: none; }
  .portfolio-details-projects .owl-dots .active {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .portfolio-details-projects .secondary-title {
    margin-bottom: 20px; }
  .portfolio-details-projects .undertitle {
    margin-bottom: 20px; }
  .portfolio-details-projects .buy {
    width: 170px;
    height: 54px;
    background-color: #8dc63f;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-bottom: 50px; }
  .portfolio-details-projects .buy:focus {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }
  .portfolio-details-projects .left {
    color: #363636;
    padding-left: 30px; }
    .portfolio-details-projects .left p {
      position: relative;
      margin-bottom: 10px; }
  .portfolio-details-projects .right {
    color: #ccc;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s; }
  .portfolio-details-projects a.right:hover {
    color: #e5493a; }

.prev-next {
  padding: 0px 50px 60px 20px; }
  .prev-next .caption {
    color: #ccc; }
  .prev-next svg {
    fill: #e1e1e1;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s; }

.prev-next-project {
  font-family: Raleway;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: #363636;
  margin-bottom: 0;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }

.arrow:hover svg {
  fill: #e5493a; }

.arrow:hover .prev-next-project {
  color: #e5493a; }

.over-footer {
  background: #e5493a;
  padding: 50px 0 40px 50px; }
  .over-footer .card-title {
    font-weight: 400;
    color: #fff;
    line-height: 24px; }
  .over-footer button {
    width: 170px;
    height: 54px;
    background: #363636;
    border-radius: 5px;
    border: none;
    outline: none; }

.large-title {
  font-family: Raleway;
  font-size: 32px;
  line-height: 30px;
  font-weight: 700;
  color: #fff; }

#categorySvg::before {
  position: absolute;
  left: -30px;
  top: 3px;
  content: url("../images/svgBefore/icon_2180.svg"); }

#clientSvg::before {
  position: absolute;
  left: -30px;
  top: 2px;
  content: url("../images/svgBefore/icon_2185.svg"); }

#linkSvg::before {
  position: absolute;
  left: -30px;
  top: 2px;
  content: url("../images/svgBefore/icon_2378.svg"); }

#dateSvg::before {
  position: absolute;
  left: -30px;
  top: 3px;
  content: url("../images/svgBefore/icon_2190.svg"); }

#shareSvg::before {
  position: absolute;
  left: -30px;
  top: 3px;
  content: url("../images/svgBefore/icon_2392.svg"); }

.pages-head {
  margin-top: 155px;
  background: url("../images/bg/slimest.jpg");
  color: #fff; }
  .pages-head .container {
    padding: 40px 0px 40px 70px; }
  .pages-head .col:first-child {
    font-family: Roboto;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500; }
  .pages-head .col:nth-child(2), .pages-head a, .pages-head span {
    font-family: Roboto;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
    margin-right: 15px; }

.portfolio-details .header-info {
  background: #fafafa; }

.portfolio-details .pages-head {
  background: #e5493a; }

.portfolio-details .portfolio-desk .upper-text:nth-child(2) {
  font-size: 1vw;
  margin-top: 0.5vw; }

.portfolio-details .portfolio-desk .upper-text:first-child {
  font-size: 1.5vw; }

.linksSvg1 {
  fill: #555;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }

.linksSvg2 {
  fill: #e1e1e1;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }

.linksSvg1:hover, .linksSvg2:hover {
  fill: #e5493a; }

@media (max-height: 470px) {
  #carousel .string3 {
    display: none; } }

@media (min-width: 767px) {
  .footer-info-bar {
    padding: 80px 80px 0 80px; }
  .footer-nav {
    padding: 30px 0px 15px 100px; }
  .prev-next {
    padding: 0px 50px 40px 40px; } }

@media (max-width: 767px) {
  header .fixed-top nav {
    padding: 9px 0 6px 0; }
  .pages-head {
    margin-top: 50px; }
  #carousel {
    height: 100vh;
    width: 100%;
    overflow: hidden; }
    #carousel .carousel-caption {
      top: 25vh; }
      #carousel .carousel-caption .string1 {
        font-size: 8vw;
        margin-bottom: 0px; }
      #carousel .carousel-caption .string2 {
        font-size: 7vw;
        line-height: 6vh; }
      #carousel .carousel-caption .string3 {
        font-size: 5vw; }
  .carouselimg {
    display: block;
    position: relative;
    height: 1024px;
    width: 1920px !important;
    left: -960px;
    top: -200px;
    margin: 0 0 0 50%; }
  .dark-title {
    line-height: 30px; }
  .under-car {
    padding-top: 10px; }
    .under-car .under-car-1 {
      font-size: 7vw; }
    .under-car .under-car-2 {
      font-size: 5vw; }
  .underheader-card .card {
    margin-top: 50px; }
  #accordion1 span {
    display: none; }
  #owl2 .card img {
    width: 100vw;
    height: 100vw; }
  #owl2 .card .col .line {
    top: 83%; }
  #owl2 .card p:first-child {
    margin: -12px 0 2px 0; }
  #owl2 .card p:nth-child(2) {
    margin-bottom: 5px; }
  #owl2 .card p:nth-child(3) {
    margin-bottom: 3px; }
  #owl2 .card:hover .col .line {
    width: 88vw; }
  body footer .footer-info-bar {
    padding: 80px 40px 0 20px; }
    body footer .footer-info-bar .anchor {
      left: 100%;
      height: 30px;
      width: 30px; }
      body footer .footer-info-bar .anchor .anchor-inner {
        width: 30px;
        height: 30px; }
  #portfolioDetails .active {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  .portfolio-details .portfolio-desk .col-12 img {
    width: 100vw; }
  .portfolio-details .other-portfolio .portfolio .portfolio-desk .upper-text:first-child {
    font-size: 6vw; }
  .portfolio-details .other-portfolio .portfolio .portfolio-desk .upper-text:nth-child(2) {
    font-size: 4vw; }
  .portfolio-details .prev-next .prev-next-project {
    font-size: 5vw;
    line-height: 6vw; } }

@media (orientation: landscape) and (max-width: 767px) {
  #carousel {
    height: 100vh;
    width: 100%;
    overflow: hidden; }
    #carousel .carousel-caption {
      top: 15px; }
      #carousel .carousel-caption .string1 {
        font-size: 8vh;
        margin-bottom: -20px; }
      #carousel .carousel-caption .string2 {
        font-size: 7vh;
        line-height: 5vh; }
      #carousel .carousel-caption .string3 {
        font-size: 5vh; }
  .under-car {
    height: 55vh;
    padding-top: 10px; }
    .under-car .under-car-1 {
      font-size: 9vh; }
    .under-car .under-car-2 {
      font-size: 7vh; } }

@media (max-width: 991px) {
  li.nav-item:hover .li-line {
    margin-left: 0px; }
  .li-line {
    margin-left: 50%; }
  .active-nav .li-line {
    width: 0% !important; }
  .portfolio-details .portfolio-details-projects {
    max-width: 100vw;
    padding: 20px 20px 0 20px; }
    .portfolio-details .portfolio-details-projects #portfolioDetails {
      width: 110%;
      margin: 0 0 20px 0; }
      .portfolio-details .portfolio-details-projects #portfolioDetails .item {
        width: 100vw; }
      .portfolio-details .portfolio-details-projects #portfolioDetails .owl-dot {
        width: 16.66%;
        height: 9.35vw !important; }
  .portfolio-details .upper-text:first-child {
    top: 30px;
    left: 40px;
    font-family: Raleway;
    font-size: 24px;
    line-height: 20px;
    font-weight: 700;
    color: #fff; }
  .portfolio-details .upper-text {
    top: 55px;
    left: 40px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #959595; }
  .portfolio-details .lupa {
    left: 65%;
    top: 65%; }
  .portfolio-details .link {
    left: 80%;
    top: 65%; } }

#screens {
  width: 105%; }
