@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap");
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.header-info {
  fill: #898989;
  font-family: roboto;
  font: 13px 20px 400;
  background: #363636;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-info a {
  color: #898989;
}
.header-info a:hover {
  color: #8dc63f;
  fill: #8dc63f;
}
.header-info svg {
  margin-bottom: 4px;
  fill: inherit;
}
.header-info .social-networks a:hover {
  fill: #e5493a;
}
.header-info span {
  color: #898989;
}

.nav-bg {
  background: #fff;
}

.li-line {
  box-sizing: margin-box;
  height: 3px;
  width: 0%;
  transition: width 0.3s;
  background: #e5493a;
}

.navbar ul li.nav-item a {
  font-family: Raleway;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 800;
  color: #555555;
}
.navbar ul li.nav-item a.nav-link:hover {
  color: #e5493a;
}
.navbar ul li.nav-item:hover .li-line {
  width: 100%;
}
.navbar ul span {
  font-family: Raleway;
  font-size: 14px;
  line-height: 20px;
  font-weight: 800;
  text-transform: uppercase;
  color: #555555;
}

.progress-container {
  width: 100%;
  background: transparent;
  position: relative;
  top: -3px;
  left: 0;
  height: 3px;
  display: block;
}

.progress-bar {
  background: #e5493a;
  width: 0%;
  display: block;
  height: inherit;
}

.carouselimg {
  opacity: 0.5;
}

.carousel-control-prev {
  justify-content: flex-start;
}
.carousel-control-prev .carousel-control-prev-icon {
  box-sizing: margin-box;
  border-radius: 4px;
  height: 42px;
  width: 42px;
  padding-top: 7px;
  background-image: none;
}

.carousel-control-next {
  justify-content: flex-end;
}
.carousel-control-next .carousel-control-next-icon {
  box-sizing: margin-box;
  border-radius: 4px;
  height: 42px;
  width: 42px;
  padding-top: 7px;
  background-image: none;
}

a.carousel-control-prev:hover .carousel-control-prev-icon {
  background: #363636;
}

a.carousel-control-next:hover .carousel-control-next-icon {
  background: #363636;
}

#carousel {
  background: #e5493a;
}
#carousel .string1 {
  font-family: Raleway;
  font-size: 68px;
  line-height: 80px;
  font-weight: 800;
  color: #ffffff;
}
#carousel .string2 {
  font-family: Raleway;
  font-size: 51px;
  line-height: 80px;
  font-weight: 800;
  color: #ffffff;
}
#carousel .string3 {
  font-family: Raleway;
  font-size: 27px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
}
#carousel .btn-outline-dark {
  color: #fff;
  border-color: #fff;
}
#carousel .btn-outline-dark:hover {
  color: #fff;
  background: #363636;
  border-color: #363636;
  decoration: none;
}

.under-car {
  padding-top: 40px;
  height: 158px;
  background: #363636;
}
.under-car table {
  height: 158;
}
.under-car .under-car-1 {
  font-family: Raleway;
  font-size: 32px;
  line-height: 20px;
  font-weight: 700;
  color: #959595;
}
.under-car .under-car-2 {
  font-family: Raleway;
  font-size: 24px;
  line-height: 20px;
  font-weight: 400;
  color: #707070;
}

.portfolio .portfolio-line {
  display: inline-flex;
  justify-content: center;
  box-sizing: padding-box;
  width: 9vw;
  height: 2px;
  background: #363636;
  margin-bottom: 40px;
  margin-top: 30px;
}
.portfolio .text-center .btn-group {
  background: #fafafa;
  margin-bottom: 40px;
}
.portfolio .text-center .btn-group .btn {
  background: none;
  border: none;
  color: #363636;
}
.portfolio .text-center .btn-group .btn:focus {
  box-shadow: none;
  color: #e5493a;
}
.portfolio .text-center .btn-group .btn:focus .li-line {
  width: 100%;
  z-index: 999;
}

.portfolio:hover .portfolio-line {
  background: #e5493a;
}

.underheader-card {
  background: #fafafa;
  fill: #363636;
}
.underheader-card .card {
  color: #363636;
  border: none;
  margin-top: 115px;
}
.underheader-card .card:hover {
  color: #e5493a;
  fill: #e5493a;
}
.underheader-card .card-img-top {
  position: absolute;
  top: -35px;
  width: 70px;
  height: 70px;
  fill: inherit;
}
.underheader-card .card-img-top2 {
  position: absolute;
  top: -16px;
  height: 32px;
  z-index: 9;
}
.underheader-card .card-body {
  padding-top: 65px;
}
.underheader-card .card-title {
  font-family: Raleway;
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
  color: inherit;
}
.underheader-card .card-text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #959595;
}

.dark-title {
  font-family: Raleway;
  font-size: 30px;
  line-height: 20px;
  font-weight: 700;
  color: #363636;
  margin-top: 80px;
}

.undertitle {
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #959595;
}

.portfolio-title {
  width: 50vw;
}

.portfolio-desk {
  width: 98.44vw;
}
.portfolio-desk .upper-text {
  display: none;
}
.portfolio-desk .bg-box {
  display: none;
  position: absolute;
  box-sizing: padding-box;
  padding: 9px;
  background: #252525;
  height: 35px;
  width: 35px;
  z-index: 9;
  border-radius: 20px;
}
.portfolio-desk .bg-box:hover {
  background: #e5493a;
}
.portfolio-desk .col:hover .bg-box {
  display: block;
}
.portfolio-desk .col:hover img {
  filter: brightness(0.5);
}
.portfolio-desk img {
  position: relative;
  width: 20vw;
}
.portfolio-desk .upper-text {
  position: absolute;
  z-index: 4;
}
.portfolio-desk .upper-line {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 2px;
  top: 90px;
  left: 40px;
  border: solid 0.1px;
  border-color: #e5493a;
  background: #e5493a;
  display: none;
}
.portfolio-desk .lupa {
  left: 65%;
  top: 65%;
}
.portfolio-desk .link {
  left: 80%;
  top: 65%;
}
.portfolio-desk .col:hover .upper-text {
  display: block;
}
.portfolio-desk .col:hover .upper-line {
  display: block;
}
.portfolio-desk svg {
  display: block;
}
.portfolio-desk .upper-text:first-child {
  top: 30px;
  left: 40px;
  font-family: Raleway;
  font-size: 1.25vw;
  line-height: 1.04vw;
  font-weight: 700;
  color: #ffffff;
}
.portfolio-desk .upper-text {
  top: 55px;
  left: 40px;
  font-family: Raleway;
  font-size: 0.73vw;
  line-height: 1.04vw;
  color: #959595;
  font-weight: 400;
  color: #959595;
  font-weight: 400;
}
@media (max-width: 767px) {
  .portfolio-desk img {
    width: 50vw;
  }
  .portfolio-desk .upper-text:first-child {
    font-size: 3.25vw;
    line-height: 3.04vw;
  }
  .portfolio-desk .upper-text {
    font-size: 2.73vw;
    line-height: 3.04vw;
  }
}

@media (max-width: 767px) {
  #carousel {
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  #carousel .carousel-caption {
    padding-bottom: 80vh;
  }
  #carousel .carousel-caption .string1 {
    font-size: 8vw;
  }
  #carousel .carousel-caption .string2 {
    font-size: 7vw;
    line-height: 8vh;
  }
  #carousel .carousel-caption .string3 {
    font-size: 5vw;
  }

  .carouselimg {
    display: block;
    position: relative;
    height: 1024px;
    width: 1920px !important;
    left: -960px;
    top: -200px;
    margin: 0 0 0 50%;
  }
}